.flags__list {
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  gap: 2.8em 1em;
  padding: 1.5rem;
  justify-content: center;
  &__info {
    padding: 2em 1.2em;
    &-republic, &-desc  {
      color: var(--text);
    }
  }
  &__card {
    background-color: var(--appbar);
    border-radius:10px;
    cursor: pointer;
    picture {
      img {
        width: 100%;
        object-fit: cover;
        height: 158px;
      }
    }
    &-desc {
    }
  }
  &__card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}
