<div class="flags__list" >
  <div class="flags__list__card" *ngFor="let flags of flag()">
    <picture>
      <img src="{{flags.flags.svg}}" loading="lazy"   alt="{{flags.flags.alt}}"/>
    </picture>
    <div class="flags__list__info">
      <h2 class="flags__list__info-republic">Republic of Cyprus</h2>
      <p class="flags__list__info-desc"><span>Population:</span> 1,207,361</p>
      <p class="flags__list__info-desc" >Region:<span>Europe</span></p>
      <p class="flags__list__info-desc" >Region:<span>Europe</span></p>
      <p class="flags__list__info-desc" >subRegion:<span>Europe</span></p>
      <p class="flags__list__info-desc" >subRegion:<span>Europe</span></p>
    </div>
  </div>
</div>
