<div class="flags__list" >
  <div class="flags__list__card" *ngFor="let flags of flag() | paginate: { itemsPerPage: 10, currentPage: page }" (click)="navigateDetails(flags)">
    <picture>
      <img src="{{flags.flags.svg}}" loading="lazy"   alt="{{flags.flags.alt}}"/>
    </picture>
    <div class="flags__list__info">
      <h2 class="flags__list__info-republic">{{flags.name.common}}</h2>
      <p class="flags__list__info-desc"><span>Population:</span> {{flags.population}}</p>
      <p class="flags__list__info-desc" >Region:<span>{{flags.region}}</span></p>
      <p class="flags__list__info-desc" >capital:<span>{{flags.capital}}</span></p>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="page = $event" [responsive]="true"></pagination-controls>
