.flags__list {
  width: 300px;
  height: 312px;
  margin-top: 10px;
  display: inline-block;
  animation: pulse 1s infinite;
  &__info {
    padding: 0.5em 1.2em;
    &-republic, &-desc  {
      color: var(--text);
      background-color: var(--skeleton-color);
      filter: blur(1px);
       width: 260px;
      height: 20px;
      margin-top: 5px;
    }
  }
  &__card {
    background-color: var(--appbar);
    border-radius:10px;
    cursor: pointer;
    height: 312px;
    &-img {
      width: 100%;
      height: 148px;
      background-color: var(--skeleton-color);
      filter: blur(1px);
    }
    &-desc {
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
