.flags__header {
  color: var(--text);
  padding: 1px calc(4vw + 16px) 20px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 10%);
  background-color: var(--appbar);

  &--darkMode {
    background-color: var(--appbar);
  }
  //wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px;
    &-title {
      font-size: clamp(16px, 2vw, 20px);
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 800;
      line-height: 1.167;
      letter-spacing: -0.01562em;
    }
    &-subheader {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      background-color: transparent;
      border: none;
      gap: 5px;
    }
  }

}
